/* General Styles */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

header {
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 3rem 1rem;
  width: 100vw;
  position: relative;
  left: 0;
}

header h1 {
  font-size: 3rem;
  margin: 0;
}

header p {
  font-size: 1.5rem;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 90%;
  max-width: 1200px;
  padding: 2rem;
  margin: 2rem auto;
  background-color: #458368;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

section:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #2e8b57;
  font-size: 2rem;
  margin-bottom: 1rem;
}

p.footer {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #dadada;
}

.about-text {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #ffffff;
}

/* Project and Language Cards */
.project-list, .language-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project, .language {
  background-color: #fff;
  padding: 1rem; /* Reduced padding */
  margin: 0.5rem; /* Reduced margin */
  border-radius: 8px;
  flex: 1 1 calc(30% - 1rem); /* Adjusted size for smaller boxes */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.project:hover, .language:hover {
  transform: scale(1.05);
}

.language {
  text-align: center;
  font-size: 1.1rem; /* Slightly reduced font size */
  font-weight: bold;
  color: #2e8b57;
}

/* Footer Styles */
.footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  margin-top: 2rem;
  position: relative;
  width: 100%;
}

.footer p {
  font-size: 1.2rem;
  margin: 0;
}

.footer .social-link {
  color: #fff;
  text-decoration: none;
  margin-left: 0.5rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

.footer .social-link i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: #0077b5;
  transition: transform 0.3s ease;
}

.footer .social-link:hover i {
  transform: scale(1.1);
}

.footer .social-link:hover {
  color: #ccc;
  text-decoration: underline;
}

/* Mobile Styling */
@media (max-width: 768px) {
  .project-list, .language-list {
    flex-direction: column;
    align-items: stretch;
  }

  .project, .language {
    flex: 1 1 100%;
    margin: 0.5rem 0; /* Stack vertically with margin */
  }

  /* Section Padding */
  section {
    padding: 1.5rem;
  }

  /* Font Sizes */
  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }
}

/* Very Small Screens (Phones) */
@media (max-width: 480px) {
  section {
    padding: 1rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .project, .language, .experience-tile {
    margin: 0.5rem 0;
    width: 100%; /* Full width for smaller devices */
  }

  .footer p {
    font-size: 0.9rem;
  }
}

/* Experience Tiles */
.experience-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.experience-tile {
  background-color: #fff;
  padding: 1rem; /* Reduced padding */
  margin: 0.5rem;
  border-radius: 8px;
  flex: 1 1 calc(45% - 2rem);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.experience-tile:hover {
  transform: scale(1.05);
}

.experience-tile h3 {
  color: #2e8b48;
}

.experience-tile p {
  margin: 0.5rem 0;
  color: #333;
}

.experience-tile ul {
  padding-left: 1rem;
  list-style-type: disc;
}

.experience-tile ul li {
  margin-bottom: 0.5rem;
  color: #555;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
  margin-right: 2rem;
}

.about-image {
  flex: 0 1 150px;
}

.about-image img {
  width: 120%;
  border-radius: 50%;
  box-shadow: 0 15px 15px rgba(0, 255, 30, 0.1);
  background-color: black;
}

/* AOS Container Styling */
.about, .experience, .languages, .projects {
  background-color: #4a4a4a;
  padding: 2rem;
  border-radius: 10px;
}

.about, .experience, .languages, .projects {
  margin-bottom: 2rem;
}

/* Ensure the inner content still retains its white background and proper styles */
.project, .language-list div {
  background-color: #fff;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
